<section id="faq">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">FAQ</h2>
                {{ with .Site.Params.faq.description }}
                <h3 class="section-subheading text-muted text-center">{{ . | markdownify }}</h3>
                {{ end }}
            </div>
        </div>
        <div class="row">
            {{ range $nb, $ele := .Site.Params.faq.questions }}
            <p class="question">{{ $ele.q }}</p>
            <p>{{ $ele.a }}</p>
            {{ end }}
        </div>
    </div>
</section>
