{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" class="bg-light-gray">
    <div class="container content">
        <div class="row">
            {{ range .Site.Params.testimonials.list }}
            <div class="col-md-2 block">
                <div class="photo">
                    <img src="{{ .avatar }}" alt="" class="photo testimonials-img" />
                </div>
                <p class="content"><span class="laquo">&nbsp;</span>{{ .quote }}<span class="raquo">&nbsp;</span></p>
                <div class="sign">
                    <a href="#">{{ .name }}</a>
                    <p>{{ .jobtitle }} </p>
                </div>
            </div>
        {{ end }}
        </div>
    </div>
</section>
