@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.program-container {
    padding: 30px;
}

.program-widget {
    padding: 20px 10px 20px 10px;
}

body {
  background: #fff;
  color: #999998;
  font-family: "Open Sans", sans-serif;
}

.wrap {
  box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
  background: #fff;
}
.wrap .block-text {
  padding: 25px;
}
.wrap .block-text h1 {
  color: #B7AA9C;
  font-size: 20px;
  margin: 30px 0;
  text-align: center;
}
.wrap .block-text hr {
  display: block;
  border: none;
  margin: 0;
  background: #efefef;
  margin-bottom: 25px;
  height: 2px;
}
.wrap .block-text h1.session-number {
  font-size: 40px;
  text-align: center;
}
.wrap .block-text p {
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
}
.wrap .block-date {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.wrap .block-date-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
.wrap .date {
  opacity: 1;
  padding: 0px 10px 0px 10px;
  margin: 0 0 2px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: #fff;
  position: relative;
  z-index: 1;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.wrap .day {
  float: left;
}
.wrap .time {
  float: right;
}
.wrap span {
  height: 45px;
  display: block;
  float: left;
  bottom: 0;
  left: 0;
  content: "";
}
.wrap span.dark {
  background: #5FB2B2;
}
.wrap span.light {
  background: #9BCFCF;
}
.wrap span.percent-75 {
  width: 75%;
}
.wrap span.percent-25 {
  width: 25%;
}
